version: '3.8'

services:
  traefik:
    image: traefik:v3
    command:
      - "--log.level=DEBUG"
      - "--api.insecure=true"
      - "--providers.swarm=true"
      - "--providers.swarm.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      # Global Redirect to HTTPS
      - "--entrypoints.web.http.redirections.entryPoint.to=websecure"
      - "--entrypoints.web.http.redirections.entryPoint.scheme=https"
      # SSL Resolver (Let's Encrypt)
      - "--certificatesresolvers.myresolver.acme.tlschallenge=true"
      # Replace with your email
      - "--certificatesresolvers.myresolver.acme.email=admin@jcn.digital"
      - "--certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json"
    ports:
      - "80:80"
      - "443:443"
      - "8081:8080" # Traefik Dashboard (local access)
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "traefik-certificates:/letsencrypt"
    environment:
      - DOCKER_API_VERSION=1.44
    networks:
      - proxy-net
    deploy:
      mode: global
      placement:
        constraints:
          - node.role == manager
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.dashboard.rule=Host(`traefik.jcn.digital`)"
        - "traefik.http.routers.dashboard.service=api@internal"
        - "traefik.http.routers.dashboard.entrypoints=websecure"
        - "traefik.http.routers.dashboard.tls.certresolver=myresolver"
        # Basic auth middleware could be added here for security

networks:
  proxy-net:
    external: true

volumes:
  traefik-certificates:
