version: '3.8'

services:
  traefik:
    image: traefik:v3
    command:
      - "--api.insecure=true"
      - "--providers.swarm=true"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      # REMOVED: Global Redirect to HTTPS
      # - "--entrypoints.web.http.redirections.entryPoint.to=websecure"
      # - "--entrypoints.web.http.redirections.entryPoint.scheme=https"
      # SSL Resolver (Let's Encrypt) - Keeping it but not forcing it
      - "--certificatesresolvers.myresolver.acme.tlschallenge=true"
      - "--certificatesresolvers.myresolver.acme.email=admin@jcn.digital"
      - "--certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json"
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080" # Traefik Dashboard
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "traefik-certificates:/letsencrypt"
    networks:
      - swarm-net
    deploy:
      mode: global
      placement:
        constraints: [node.role == manager]

networks:
  swarm-net:
    external: true

volumes:
  traefik-certificates:
